@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMW36eA1Ef.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMW36eA1Ef.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMW36eA1Ef.woff2) format('woff2');
}
